<div class="span10">
<div class="page-header">
	<center><h2>Your Leagues</h2></center>
	</div>
<div class="row">
	<div class="span10">
		<% if @authentications %>
		 <% unless @authentications.empty? %>
		  <p><strong>Your BigLeagues</strong></p>
		   <div class="authentications">
		    <% for authentication in @authentications %>
		     <div class="authentication">
		      <div class="provider"><%= authentication.provider.titleize %>  </div>
		       <%= link_to "X", authentication, :confirm => 'Are you sure you want to stop playing your Twitter friends?', :method => :delete, :class => "remove" %>
		     </div>
		     <% end %>
			 <% else %>
			  <p><strong>Connect with Twitter to start competing against your friends</strong></p>
			<a href="/users/auth/twitter" class="auth_provider">Sign in with Twitter</a>
		     <div class="clear"></div>
		    </div>
		   <% end %>
		   
		 
		<% end %>
		
		
